
.root{
}

.scroll-pane{
    -fx-padding: 30;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

VBox{
    -fx-spacing: 10;
    -fx-padding: 0;
    -fx-alignment: CENTER_LEFT;
}

.text-area{
    -fx-padding: -32 -45 -32 -30;
    -fx-min-height: 120;
    -fx-wrap-text: true;
}

.text-area .content{
    -fx-background-color: #dfdfe4;
}

HBox{
    -fx-spacing: 10;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 20;
    -fx-padding: 10px 0 15px 0;
}

.text-field{
    -fx-background-color: #dfdfe4;
    /*-fx-background-radius: 0em;*/
    -fx-alignment: TOP_LEFT;
}

.label{
    -fx-font-family: Poppins, sans-serif;
    -fx-font-smoothing-type: gray;
}

ImageViewer{
}

.choice-box{
    -fx-background-color: #dfdfe4;
}

.scroll-bar{
    -fx-background-color: #fdfdfd;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #dfdfe4;
    -fx-background-radius: 2;
}

#title{
    -fx-font-size: 25;
}