/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*/
.root{
    /*-fx-padding: 30;*/
}

.scroll-pane{
    -fx-padding: 30;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

VBox{
    -fx-spacing: 10;
    -fx-padding: 0;
    -fx-alignment: CENTER_LEFT;
}

HBox{
    -fx-spacing: 10;
}

GridPane {
    -fx-hgap: 10;
    -fx-vgap: 20;
}

.text-field{
    -fx-background-color: #dfdfe4;
    /*-fx-background-radius: 0em;*/
}

.label{
    -fx-font-family: Poppins, sans-serif;
}

ImageViewer{
}

.choice-box{
    -fx-background-color: #dfdfe4;
}

.scroll-bar{
    -fx-background-color: #fdfdfd;
}

.scroll-bar:vertical .thumb{
    -fx-background-color: #dfdfe4;
    -fx-background-radius: 0em;
}

#title{
    -fx-font-size: 25;
}