.root{
    -fx-font-smoothing-type: gray;
    -fx-font-family: Poppins, sans-serif;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins/Poppins-Regular.ttf');
}

#imageStackPane{
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-color: white;
    -fx-border-width: 4px;
    -fx-border-style: solid;
    -fx-alignment: center;
}

#userSummary{
    -fx-background-color: #2f709f;
    -fx-border-color: white;
    -fx-border-width: 7px;
    -fx-border-style: solid;
}

.label{
    -fx-text-fill: white;
    -fx-font-weight: 0;
}

#titleName{
    -fx-font-size: 27;
}

HBox{
    -fx-spacing: 3px;
}

#vboxHobbies{
    -fx-font-size: 12px;
    -fx-padding: 0 0 0 30;
}

#vboxSkills{
    -fx-font-size: 12px;
    -fx-padding: 0 20 0 30;
}

#vboxUserDetails{
    -fx-spacing: 7px;
}

#userDetailsTitleLabel{
    -fx-background-color: #2f709f;
    -fx-font-size: 14px;
    -fx-padding: 0 4 0 4;
    -fx-font-weight: 600;
}

#vboxUserDetails{
    -fx-padding: 0 0 0 20;
}

.progress-bar{
    -fx-min-width: 100;
    -fx-control-inner-background: #282831;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-padding: 0 0 10 0;
    -fx-border-color: transparent;

}

.progress-bar .bar{
    /*-fx-background-insets: 3 3 4 3;*/
    /*-fx-background-radius: 0.583em; */
    -fx-background-radius: 0;
    -fx-padding: 6 0 6 0;
}



#labelHobbies{
    -fx-font-size: 17px;
    -fx-text-fill: #999999;
}

#labelSkills{
    -fx-font-size: 17px;
    -fx-text-fill: #999999;
}

.text-area{
    -fx-padding: 0 -30 0 -1;
    -fx-max-width: 330;
    -fx-wrap-text: true;
    -fx-editable: false;
}

.text-area .content{
    -fx-background-color: #f2f2f2;
    -fx-padding: 0 0 0 -0;
}